main {
    background-color: #242424;
}

.Banner-Container {
    background-color: #242424;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

.Banner-Title {
    font-size: clamp(5rem, 10dvw, 10rem);
    color: #fff;
    text-align: center;
    width: 100%;
    height: auto;
    -webkit-animation: glow 3s ease-in-out infinite alternate;
    -moz-animation: glow 3s ease-in-out infinite alternate;
    animation: glow 3s ease-in-out infinite alternate;
    -webkit-box-reflect: below -37.5% linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.4));
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px rgba(255, 255, 255, .2), 0 0 20px rgba(255, 255, 255, .2), 0 0 30px rgba(255, 255, 255, .2), 0 0 40px rgba(255, 255, 255, .2), 0 0 50px rgba(255, 255, 255, .2), 0 0 60px rgba(255, 255, 255, .2), 0 0 70px rgba(255, 255, 255, .2);
    }

    to {
        text-shadow: 0 0 20px rgba(255, 255, 255, .5), 0 0 30px rgba(255, 255, 255, .5), 0 0 40px rgba(255, 255, 255, .5), 0 0 50px rgba(255, 255, 255, .5), 0 0 60px rgba(255, 255, 255, .5), 0 0 70px rgba(255, 255, 255, .5), 0 0 80px rgba(255, 255, 255, .5);
    }
}

.Banner-Subtitle {
    text-align: center;
    font-size: 1rem;
    padding: 2rem;
}

.get-start-btn {
    background-color: #242424;
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color .3s ease-in-out, box-shadow .3s ease-in-out, color .3s ease-in-out;
    margin-top: 2rem;
    padding: .8rem 1.8rem;
    border: 2px solid #fff;
    box-shadow: 0 0 10px rgba(255, 255, 255, .2), 0 0 20px rgba(255, 255, 255, .2), 0 0 30px rgba(255, 255, 255, .2), 0 0 40px rgba(255, 255, 255, .2), 0 0 50px rgba(255, 255, 255, .2), 0 0 60px rgba(255, 255, 255, .2), 0 0 70px rgba(255, 255, 255, .2);
    -webkit-box-reflect: below 3% linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.4));

}

.get-start-btn:hover {
    background-color: #fff;
    color: #242424;
    box-shadow: 0 0 20px rgba(255, 255, 255, .5), 0 0 30px rgba(255, 255, 255, .5), 0 0 40px rgba(255, 255, 255, .5), 0 0 50px rgba(255, 255, 255, .5), 0 0 60px rgba(255, 255, 255, .5), 0 0 70px rgba(255, 255, 255, .5), 0 0 80px rgba(255, 255, 255, .5);
    transition: background-color .3s ease-in-out, box-shadow .3s ease-in-out, color .3s ease-in-out;
}

.about-container {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #242424;
    color: white;
    padding: 2rem;
}

.about-container h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
    -webkit-box-reflect: below -37.5% linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.4));
    margin-bottom: 2rem;
}

.about-container p {
    font-size: 1.2rem;
    text-align: left;
    margin-bottom: 2rem;
    line-height: 1.5;
    font-weight: 900;
    color: #000;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 0 3px rgba(0, 0, 0, 0.2), 0 0 4px rgba(0, 0, 0, 0.2), 0 0 5px rgba(0, 0, 0, 0.2), 0 0 6px rgba(0, 0, 0, 0.2), 0 0 7px rgba(0, 0, 0, 0.2), 0 0 8px rgba(0, 0, 0, 0.2);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #242424;
}

.about-container p b {
    font-size: 1.5rem;
}

@keyframes appear {
    from {
        font-size: 1.2rem;
        text-align: left;
        margin-bottom: 2rem;
        line-height: 1.5;
        font-weight: 900;
        color: #242424;
        text-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 0 3px rgba(0, 0, 0, 0.2), 0 0 4px rgba(0, 0, 0, 0.2), 0 0 5px rgba(0, 0, 0, 0.2), 0 0 6px rgba(0, 0, 0, 0.2), 0 0 7px rgba(0, 0, 0, 0.2), 0 0 8px rgba(0, 0, 0, 0.2);
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #242424;
    }

    to {
        color: #fff;
        text-shadow: 0 0 2px rgba(255, 255, 255, 0.1), 0 0 3px rgba(255, 255, 255, 0.1), 0 0 4px rgba(255, 255, 255, 0.1), 0 0 5px rgba(255, 255, 255, 0.1), 0 0 6px rgba(255, 255, 255, 0.1), 0 0 7px rgba(255, 255, 255, 0.1), 0 0 8px rgba(255, 255, 255, 0.1);
    }
}

.block {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 20%;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}

.services {
    margin-top: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #242424;
    text-align: center;
    color: white;
    padding: 2rem;
}

.services-container h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    -webkit-box-reflect: below -35% linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.4));
    text-shadow: 0 0 2px rgba(255, 255, 255, .2), 0 0 3px rgba(255, 255, 255, .2), 0 0 4px rgba(255, 255, 255, .2), 0 0 5px rgba(255, 255, 255, .2), 0 0 6px rgba(255, 255, 255, .2), 0 0 7px rgba(255, 255, 255, .2), 0 0 8px rgba(255, 255, 255, .2);
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    margin-top: 2rem;
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    box-sizing: border-box;
    align-items: stretch;
    margin-top: 10rem;
}

.card {
    border-radius: 10px;
    background-color: #242424;
    color: white;
    padding: 1rem;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    height: 100%;
    flex-grow: 1;
    border: #fff 2px solid;
    transition: transform 0.5s;
    transform: perspective(1000px) rotateY(90deg);
}

.card:hover h3 {
    text-shadow: 0 0 20px rgba(255, 255, 255, .5), 0 0 30px rgba(255, 255, 255, .5), 0 0 40px rgba(255, 255, 255, .5), 0 0 50px rgba(255, 255, 255, .5), 0 0 60px rgba(255, 255, 255, .5), 0 0 70px rgba(255, 255, 255, .5), 0 0 80px rgba(255, 255, 255, .5);
    transition: text-shadow 0.5s;
}

.card:hover img {
    transform: scale(1.05);
    transition: transform 0.5s;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 1rem;
    transition: transform 0.5s;

}

.card h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    -webkit-box-reflect: below -35% linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.2));
    text-shadow: 0 0 2px rgba(255, 255, 255, .2), 0 0 3px rgba(255, 255, 255, .2), 0 0 4px rgba(255, 255, 255, .2), 0 0 5px rgba(255, 255, 255, .2), 0 0 6px rgba(255, 255, 255, .2), 0 0 7px rgba(255, 255, 255, .2), 0 0 8px rgba(255, 255, 255, .2);
    transition: text-shadow 0.5s;

}

.card-container a {
    text-decoration: none;
    color: inherit;
}

@media (max-width: 1024px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .card-container {
        grid-template-columns: 1fr;
    }
}

.card {
    animation: glowTransform linear;
    animation-timeline: view();
    animation-range: entry 0 cover 30%;
    animation-fill-mode: forwards;
}

@keyframes glowTransform {
    from {}

    to {
        transform: perspective(1000px) rotateY(0deg);
        box-shadow: 0 0 20px rgba(255, 255, 255, .1), 0 0 30px rgba(255, 255, 255, .1), 0 0 40px rgba(255, 255, 255, .1), 0 0 50px rgba(255, 255, 255, .1), 0 0 60px rgba(255, 255, 255, .1), 0 0 70px rgba(255, 255, 255, .1), 0 0 80px rgba(255, 255, 255, .1);
        transform: translateY(-10rem);
    }
}

.about {
    animation: go-up linear;
    animation-timeline: view();
    animation-range: entry 0 cover 5%;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}

@keyframes go-up {
    from {}

    to {
        transform: translateY(-10rem);
    }
}

.back-to-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #242424;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: .8rem;
    cursor: pointer;
    transition: background-color .3s ease-in-out, box-shadow .3s ease-in-out, color .3s ease-in-out;
    text-decoration: none;
    box-shadow: 0 0 10px rgba(255, 255, 255, .2), 0 0 20px rgba(255, 255, 255, .2), 0 0 30px rgba(255, 255, 255, .2), 0 0 40px rgba(255, 255, 255, .2), 0 0 50px rgba(255, 255, 255, .2), 0 0 60px rgba(255, 255, 255, .2), 0 0 70px rgba(255, 255, 255, .2);
    border: #fff 2px solid;
}

.back-to-top-btn:hover {
    background-color: #fff;
    color: #242424;
    box-shadow: 0 0 20px rgba(255, 255, 255, .5), 0 0 30px rgba(255, 255, 255, .5), 0 0 40px rgba(255, 255, 255, .5), 0 0 50px rgba(255, 255, 255, .5), 0 0 60px rgba(255, 255, 255, .5), 0 0 70px rgba(255, 255, 255, .5), 0 0 80px rgba(255, 255, 255, .5);
    transition: background-color .3s ease-in-out, box-shadow .3s ease-in-out, color .3s ease-in-out;
}