* {
    margin: 0;
    padding: 0;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    scroll-behavior: smooth;
}

.logo-img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 15px;
}

.logo {
    font-size: 30px;
    color: white;
    text-shadow: 1px 1px 2px #000;
    font-weight: bold;
}

nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #242424;
    height: 60px;
    width: auto;
    border-bottom: #e7e7e7 1px solid;
}

.navbar-collapse {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar-nav {
    display: flex;
    list-style: none;
    margin-left: auto;
}

.navbar-nav li {
    padding-inline: 0px;
}

.navbar-nav li a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    padding: 20px;
    transition: all 0.3s ease;
}

.navbar-nav li a:hover {
    background-color: rgba(255, 255, 255, .2);
    color: #ffffff;
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.2), 0 0 3px rgba(255, 255, 255, .2), 0 0 4px rgba(255, 255, 255, .2), 0 0 5px rgba(255, 255, 255, .2), 0 0 6px rgba(255, 255, 255, .2), 0 0 7px rgba(255, 255, 255, .2), 0 0 8px rgba(255, 255, 255, .2);
}

.navbar-toggler {
    display: none;
    background: none;
    border: none;
    color: #f1e8dd;
    font-size: 1.5em;
    cursor: pointer;
}

.logo-container {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

@media (max-width: 768px) {
    .navbar-toggler {
        display: block;
        margin-left: auto;
        margin-right: 20px;
    }

    nav {
        flex-wrap: wrap;
    }

    .navbar-collapse {
        width: 100%;
        order: 1;
        max-height: 0;
        overflow: hidden;
        transition: max-height .5s ease-in-out;
        position: relative;
        z-index: 10;
    }

    .navbar-collapse.show {
        max-height: 300px;
    }
    .navbar-nav {
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
        border-top: 1px solid #e7e7e7;
        padding-top: 10px;
        background: #242424;
        border-radius: 0 0 10px 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        position: relative;
        z-index: 10;
    }

    .navbar-nav li {
        margin: 0;
        margin-bottom: 10px;
        text-align: left;
    }

    .navbar-nav li a {
        padding: 10px 20px;
        width: 100%;
        text-align: left;
    }
}